body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 1em;
  line-height: 1.5em;
  box-sizing: border-box;
  background-color: #f9f7f6;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  text-decoration: none;
}

*:visited {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4vw; /* Ajuste el tamaño de fuente para dispositivos móviles */
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw; /* Ajuste el tamaño de fuente para dispositivos móviles */
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw; /* Ajuste el tamaño de fuente para dispositivos móviles */
  text-align: center;
  line-height: 100%;
  margin: 0;
}

h4 {
  text-align: center;
  margin: 0;
  font-size: 2vw; /* Ajuste el tamaño de fuente para dispositivos móviles */
}

.main-container {
  display: flex;
  flex-direction: column;
}

/*     Collage     */

.imagen-container {
  width: 90vh;
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  align-items: center;
}

.collage {
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  overflow: hidden;
}

/*     Header     */

.head_container {
  background: #f9f7f6;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1;
}

.navigation_bar {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw; /* Ajuste el tamaño de fuente para dispositivos móviles */
}

.navigation_bar:hover {
  text-decoration: underline;
}

.section-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0;
}

.gif-logo {
  width: 8vh;
}

.section-nav .navigation_bar {
  list-style: none;
  display: block;
}

.navigation_bar {
  margin: auto;
}

/*   Tabla    */

.cuerpo-web {
  width: 100vw;
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Agregué un ajuste para envolver los elementos en dispositivos pequeños */
}

.table-container {
  width: 100%; /* Cambie el ancho al 100% para ocupar todo el ancho disponible */
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  display: flex;
  justify-content: center;
}

.table {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item-image-table {
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  width: 80vw; /* Ajuste el ancho para dispositivos móviles */
  margin: 0;
  background-color: rgba(0, 0, 0, 0.562);
}

.item-description-table {
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  width: 80vw; /* Ajuste el ancho para dispositivos móviles */
  margin: 0;
  background-color: rgba(245, 255, 157, 0.06);
}

.image-table {
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  width: 80vw; /* Ajuste el ancho para dispositivos móviles */
  opacity: 80%;
}

.description-parraph {
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

/*     Separador     */

.divider {
  border-top: 1px solid #ccc;
}

.divider.double {
  border-top: 3px double #ccc;
}

/*     Divisor Seccion    */

.separador {
  width: 100%;
  height: 5vh; /* Ajuste la altura para dispositivos móviles */
  background-color: #f9f7f6;
}

/*     Seccion Historia    */

.history-container {
  margin-top: 10vh; /* Ajuste el margen superior para dispositivos móviles */
  margin-bottom: 5vh; /* Ajuste el margen inferior para dispositivos móviles */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_item {
  line-height: 1em;
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
  width: 100%; /* Cambie el ancho al 100% para ocupar todo el ancho disponible */
  text-align: center;
  font-size: large;
  background-color: rgba(245, 255, 157, 0.06);
  border: 2px solid rgba(0, 0, 0, 0.096);
  border-radius: 2vw;
  padding: 2vw;
  padding-top: 6vw;
}

.history_item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.068);
}

.history_item:nth-child(n + 2) {
  margin-top: 2vw;
}

/*     Imagenes Slide     */

#imagenes {
  display: flex;
  width: 80vw; /* Ajuste el ancho para dispositivos móviles */
  height: 35vh; /* Ajuste la altura para dispositivos móviles */
  margin: auto;
  overflow-x: scroll; /* Agregué scroll horizontal para dispositivos pequeños */
}

#imagenes img {
  width: 10vw; /* Ajuste el ancho para dispositivos móviles */
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
}

#imagenes img:hover {
  cursor: grab;
  width: 20vw; /* Ajuste el ancho para dispositivos móviles */
  opacity: 1;
  filter: contrast(110%);
}

/*     Footer    */

.footer-container {
  width: 100%;
  height: auto; /* Cambie la altura a automática para que se ajuste al contenido */
}

.footer {
  width: 100%;
  background-color: #000000;
}

.imagen-footer {
  width: 100%;
}
